<div class="privacy-notice-container">
	<header class="privacy-notice">
		<h1>Aviso de Privacidad</h1>
	</header>

	<section class="privacy-notice">
		<h2>Información Recopilada</h2>
		<p>Recopilamos información personal necesaria para brindarle atención médica adecuada y personalizada.</p>
	</section>

	<section class="privacy-notice">
		<h2>Uso de la Información</h2>
		<p>Utilizamos la información personal recopilada para los siguientes fines:</p>
		<ul>
			<li>Brindar atención médica adecuada y personalizada.</li>
			<li>Mantener registros médicos precisos y actualizados.</li>
			<li>Comunicarnos con usted sobre su tratamiento y citas médicas.</li>
			<li>Cumplir con las regulaciones legales y normativas en materia de atención médica.</li>
		</ul>
	</section>

	<section class="privacy-notice">
		<h2>Divulgación de la Información</h2>
		<p>No compartiremos su información personal con terceros sin su consentimiento, excepto cuando sea necesario
			para
			brindarle servicios médicos o cumplir con las leyes y regulaciones aplicables.</p>
	</section>

	<section class="privacy-notice">
		<h2>Seguridad de la Información</h2>
		<p>Tomamos medidas para proteger su información personal contra el acceso no autorizado, la divulgación,
			alteración
			o destrucción. Solo el personal autorizado tiene acceso a sus datos personales y se requiere que mantengan
			la
			confidencialidad de dicha información.</p>
	</section>

	<section class="privacy-notice">
		<h2>Derechos del Paciente</h2>
		<p>Usted tiene derecho a acceder, corregir y eliminar la información personal que tenemos sobre usted. También
			puede
			optar por restringir o limitar el uso y la divulgación de su información personal.</p>
	</section>

	<footer class="privacy-notice-footer">
		<p>Si tiene preguntas o inquietudes sobre nuestra política de privacidad o el manejo de su información personal,
			no
			dude en ponerse en contacto con nuestro oficial de privacidad en la siguiente dirección:</p>
		<p>Centro Médico San Lucas</p>
		<p>Calle del Rosal, 123</p>
		<p>+34 912 345 678</p>
		<p>info@centromedicosanlucas.com</p>
	</footer>
</div>